body {
    font-family: sans-serif;
    background-color: black;
    color: #333;
    margin: 10em;
    }
h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size:xx-large;
    font-family: Tahoma;
    font-style: italic;
}
title{
    font-style: italic;
}
.linea{
    size: 1em;
    width: 15em;
    color: gold;
}
.img{
    display: flex;
    justify-content: center;
    width: 3em;
    height: 3em;
}